:root{
    --clr-background: white;
    --clr-main: #3199ef;
    --clr-text: #555555;
    --clr-text-light: #717272df;
    
    --clr-light: rgba(229, 229, 229, 0.773);
    --clr-light-transparent: rgba(226, 226, 226, 0.447);

    --clr-dark: rgb(46, 46, 46);
    --clr-dark-transparent: rgba(238, 238, 238, 0.419);

    --clr-blue: rgb(36, 139, 243);
    --clr-blue-transparent: rgba(36, 139, 243, 0.779);

    --clr-grey: rgba(160, 160, 160, 0.767);
    --clr-grey-light: rgb(230, 230, 230);

    --clr-black: black;
    --clr-red: rgb(252, 88, 88);
    --clr-green: rgb(90, 209, 90);
    --clr-yellow: rgb(243, 227, 11);
}