.container{
    margin: 1rem 0;

    button{
        background-color: var(--clr-dark);
        padding: 1rem;
        min-width: 100px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        margin-right: 0.5rem;
        color: white;

        &:hover{
            opacity: 0.5;
        }
    }
}