.container{

    .subsetTitleContainer, .subsetItemsContainer {
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    .subsetTitleContainer{
        padding: 0.5rem;
        background-color: var(--clr-light-transparent);
        border: 1px solid transparent;
        button{
            width: 100%;
            font-size: 1.2rem
        }
        &:hover{
            background-color: var(--clr-grey);
            border-color: var(--clr-main);
        }
    }

    .subsetItemsContainer, .editContainer{
        .element{
            padding: 0.5rem;
            margin-bottom: 1rem;
            background-color: var(--clr-light-transparent);
            border: 1px solid transparent;
            text-align: center;
            &:hover{
                border-color: var(--clr-main);
            }

            p{
                &:hover{
                    opacity: 0.5;
                }
            }
            
            button{
                margin: 1rem auto;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                background-color: var(--clr-grey);
                color: white;
            }
        }
        .selected{
            border: 2px solid var(--clr-main);
        }
    }

}