.container{
    border: 2px solid var(--clr-grey);
    margin: 5rem 0;

    .actionsContainer{
        display: flex;
        justify-content: left;
        padding: 1rem;
        gap: 0.5rem;
    }

    .editContainer{
        .title{
            padding: 1rem;
        }
    }

    .subsetTitleContainer, .subsetItemsContainer {
        cursor: pointer;
    }

    .subsetTitleContainer{
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: var(--clr-grey);
        border: 1px solid transparent;
        button{
            width: 100%;
            font-size: 2rem
        }
        &:hover{
            background-color: var(--clr-grey);
            border-color: var(--clr-main);
        }
    }

    .subsetItemsContainer, .editContainer{
        .element{
            padding: 0.5rem;
            margin: 0.5rem;
            background-color: var(--clr-light-transparent);
            border: 1px solid transparent;
            text-align: center;
            &:hover{
                border-color: var(--clr-main);
            }

            p{
                font-size: 1.3rem;
                &:hover{
                    opacity: 0.5;
                }
            }
            
            button{
                margin: 1rem auto;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                background-color: var(--clr-grey);
                color: white;
            }
        }
        .selected{
            border: 2px solid var(--clr-main);
        }
    }

}