.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid black;

    a, button{
        display: flex;
        &:hover{
            *{
                color: var(--clr-main);
            }
        }
    }
}