.container{
    max-width: 1200px;
    margin: auto;
    text-align: center;

    h3{
        text-align: center;
        margin: 2rem 0;
    }

    .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: 800px){
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 500px){
            grid-template-columns: 1fr;
        }
    }
}