.container{
    max-width: 1000px;
    margin: auto;

    .users{
        padding: 0.5rem;
    }

    .edit{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(23, 23, 23, 0.355);
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;

        form{
            padding: 1rem;
            background-color: white;
            width: clamp(250px, 500px, 700px);
            border-radius: 5px;

            .roles{ 
                margin: 1rem 0;
                button{
                    border-radius: 5px;
                    padding: 0.5rem 2rem;
                }
                .selected{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    
}