.container{
    background-color: var(--clr-dark-transparent);
    padding: 1rem;
    border: 1px solid var(--clr-dark-transparent);

    &:hover{
        border-color: var(--clr-main);
    }

    .delete{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        width: 100%;

        button{
            display: flex;
            align-items: center;
            &:hover{
                color: red;
                svg{
                    color: red;
                }
            }
        }
    }
    input, textarea{
        display: block;
        background-color: var(--clr-light-transparent);
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    textarea{
        height: 150px;
        min-height: 100px;
        max-height: 200px;
    }
    .stars{
        margin-bottom: 0.5rem;
        svg{
            font-size: 1.5rem;
            color: var(--clr-light);
            margin-right: 0.5rem;
            &:hover{
                opacity: 0.8;
            }
        }
        .selected{
            color: var(--clr-yellow);
        }
    }
}